@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  @apply w-2;
}

*::-webkit-scrollbar-track {
  @apply bg-transparent rounded-md;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded-lg border border-solid transition-all duration-150 border-white dark:border-gray-950;
}

html,
body {
  font-family: "Inter", sans-serif;
  white-space: pre-line;
}

pre > code {
  display: grid;
}
