.infoContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--mantine-spacing-md);
  z-index: 2;
}

@media (max-width: 62rem) {
  .infoContainer {
    grid-template-columns: 1fr;
  }
}

.stateBlock {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: var(--mantine-spacing-xs);
}
