.videosContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--mantine-spacing-xs);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sectionTitle {
  font-family: 'Lexend', sans-serif;
  font-size: clamp(2.2rem, 5vw, 3.2rem);
  font-weight: 700;
  color: var(--mantine-color-black);
  text-align: center;
  margin-bottom: var(--mantine-spacing-lg);
}