.layout {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--mantine-color-white);
  position: relative;
  z-index: 1;
}

.mainContent {
  flex-grow: 1;
  position: relative;
  z-index: 2;
}
