.container {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(1, 1fr);
  
  @media (min-width: $mantine-breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.containerDownOrMaintenance {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: var(--mantine-spacing-sm);

  align-items: center;
  justify-content: center;
}
