.container {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(1, 1fr);
  
  @media (min-width: $mantine-breakpoint-lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.containerDownOrMaintenance {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  box-shadow: var(--mantine-shadow-xs);
  border-radius: var(--mantine-radius-md);
  align-items: center;
  justify-content: center;
}
