:3000 {
	root * /app/dist

	@static {
		path /assets/* /favicon.svg /og-default.svg /robots.txt /sitemap.xml
	}
	handle @static {
		file_server
	}

	handle {
		try_files {path} {path}/index.html /index.html
		file_server
	}
}
