.default {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
  height: calc(100dvh - 45px - var(--app-shell-header-offset) - calc(var(--app-shell-padding) * 3));
  transition: all linear 250ms;
}

.queued {
  background-color: light-dark(var(--mantine-color-orange-0), alpha(var(--mantine-color-orange-4), 0.1));
}

.queued_border {
  border-color: light-dark(var(--mantine-color-orange-8), var(--mantine-color-orange-3));
}

.errored {
  background-color: light-dark(var(--mantine-color-red-0), alpha(var(--mantine-color-red-4), 0.1));
}

.errored_border {
  border-color: light-dark(var(--mantine-color-red-8), var(--mantine-color-red-3));
}

.running {
  background-color: light-dark(var(--mantine-color-indigo-0), alpha(var(--mantine-color-indigo-4), 0.1));
  
  &:hover {
    cursor: pointer;
    background-color: light-dark(var(--mantine-color-indigo-2), alpha(var(--mantine-color-indigo-4), 0.15));
  }
}

.running_border {
  border-color: light-dark(var(--mantine-color-indigo-8), var(--mantine-color-indigo-3));
}

.completed {
  background-color: light-dark(var(--mantine-color-green-0), alpha(var(--mantine-color-green-4), 0.1));
}

.completed_border {
  border-color: light-dark(var(--mantine-color-green-8), var(--mantine-color-green-3));
}

.canceled {
  background-color: light-dark(var(--mantine-color-gray-0), alpha(var(--mantine-color-gray-4), 0.1));
}

.canceled_border {
  border-color: light-dark(var(--mantine-color-gray-8), var(--mantine-color-gray-3));
}

.line_info {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}

.line_info_label {
  font-size: var(--mantine-font-size-md);
  font-weight: bold;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xl);
  }
}

.line_info_value {
  font-size: var(--mantine-font-size-md);
  
  @media (min-width: $mantine-breakpoint-md) {
    font-size: var(--mantine-font-size-xl);
  }
}

.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--mantine-font-size-xl) * 1.25;

  @media (min-width: $mantine-breakpoint-md) {
    font-size: calc(var(--mantine-font-size-xl) * 1.5);
  }
}

.section_title {
  font-size: var(--mantine-font-size-xl);

  @media (min-width: $mantine-breakpoint-md) {
    font-size: calc(var(--mantine-font-size-xl) * 1.25);
  }
}

.download_section_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: auto;
  gap: var(--mantine-spacing-sm);
  max-height: 314.3px;
}

.section_container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.section_info_container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.no_simulation_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: var(--mantine-spacing-md);
}