.paper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.tableContainer {
  flex: 1 1 0;
}

.tableHead {
  border: 0 0 1px 0 solid var(--mantine-color-default-border);
}

.tableHeadCell {
  background-color: darken(var(--mantine-color-body), 0.025);
  display: flex;
  justify-content: space-between;
}

.editActions {
  top: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-default-border);
  padding: var(--mantine-spacing-xs) 0;
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-md);
  position: sticky;
  z-index: 1;
}
