# Should run applications as in development?
DEBUG=1

# TRAEFIK
TRAEFIK_URL=

# VISUAL DYNAMICS
VISUALDYNAMICS_URL=
DB_USER=postgres
DB_PASS=
DB_HOST=database
DB_PORT=5432
DB_DATABASE=visualdynamics
CORS_ORIGIN=http://localhost:3000

DATABASE_URL=postgresql://postgres:${DB_PASS}@database:5432/${DB_DATABASE}

APP_URL=http://${VISUALDYNAMICS_URL}

# MAILER
SMTP_USER=
SMTP_PASS=
SMTP_PORT=
SMTP_HOST=
