node_modules
report.txt
.env
.plausible.env
clickhouse
__pycache__
.codex
*.h5
*.hdf5

*.txt
!apps/api/static/templates/*.txt
*.a


.yarn/*
!.yarn/patches
!.yarn/plugins
!/.yarn/releases
!.yarn/sdks
!.yarn/versions
