version: '3.8'
services:
  database:
    container_name: VDDB
    image: postgres:alpine
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_PASSWORD: "postgresvd"
  mq:
    container_name: VDMQ
    image: redis:alpine
    restart: always
    ports:
      - '6380:6379'
    volumes:
      - mq:/data
  # client:
  #   container_name: VDWEB
  #   restart: always
  #   build:
  #     context: ./apps/client
  #     target: builder
  #   depends_on:
  #     - database
  #   ports:
  #     - "3001:3001"
volumes:
  mq:
    driver: local