alembic==1.7.7
astroid==2.9.0
BareNecessities==0.2.8
blinker==1.4
Click==8.0.4
Flask==2.0.3
Flask-Babel==2.0.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
isort==5.10.1
itsdangerous==2.1.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
Mako==1.2.0
MarkupSafe==2.1.1
mccabe==0.6.0
pylint==2.12.2
python-dateutil==2.8.2
python-editor==1.0.4
six==1.16.0
SQLAlchemy==1.4.32
typed-ast==1.5.2
waitress==2.1.1
Werkzeug==2.0.3
wrapt==1.13.0
