.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.labelValueContainer {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}

.label {
  font-weight: bold;
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--mantine-spacing-xs);
}

.dataContainer {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--mantine-spacing-xs);
}
