.container {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.links_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-sm);

  @mixin larger-than $mantine-breakpoint-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

.section_title {
  color: var(--mantine-color-dark-3);
  font-size: var(--mantine-font-size-sm);
  font-weight: bold;
  padding-left: var(--mantine-spacing-md);
  user-select: none;
}