.container {
  display: grid;
  gap: var(--mantine-spacing-md);
  grid-template-columns: repeat(1, 1fr);

  @media (min-width: $mantine-breakpoint-md) {
    grid-template-columns: 1fr 2fr;
  }
}

.containerText {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  text-align: justify;
}

.image {
  height: auto;
  width: 100%;
}

.listItem {
  width: calc(100% - 21px);
  word-wrap: break-word;
  white-space: pre-wrap;
}