.container {
  text-decoration: none;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
}

.user {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  cursor: default;
}

.signin {
  display: block;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));

  cursor: pointer;

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}

.modalTitle {
  font-size: var(--mantine-font-size-xl);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}