.container {
  display: flex;
  height: calc(100dvh - 45px - var(--app-shell-header-offset) - calc(var(--app-shell-padding) * 3));
  flex-direction: row;
  gap: var(--mantine-spacing-md);
}

.title_container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.container_stack {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  width: 100%;
}