.container {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.icon {
  width: 70%;
  height: 70%;
  stroke: 1.5;
}

.rightElementContainer {
  margin-left: auto;
  display: flex;
  align-items: center;
}