.container {
  display: flex;
  flex-direction: column !important;

  @media (min-width: $mantine-breakpoint-md) {
    flex-direction: row !important;
  }
}

.simulationsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--mantine-spacing-lg);
  
  @media (min-width: $mantine-breakpoint-md) {
    min-width: 384px;
    width: 384px;
    max-width: 384px;
  }
}

.expandedDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: var(--mantine-spacing-lg);
}