.sectionContainer {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-sm);

  /* margin-left: calc(var(--mantine-spacing-md) * -1);
  margin-right: calc(var(--mantine-spacing-md) * -1); */

  &:not(:last-of-type) {
    border-bottom: rem(1px) solid
      light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  }

  &:last-of-type {
    padding-bottom: var(--mantine-spacing-md);
  }
}

.sectionLinksContainer {
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  color: light-dark(var(--mantine-color-dark-2), var(--mantine-color-dark-3));
  font-size: var(--mantine-font-size-sm);
  font-weight: bold;
  padding-left: var(--mantine-spacing-md);
  user-select: none;
}

.linkContainer {
  align-items: center;
  border-radius: var(--mantine-radius-sm);
  color: light-dark(var(--mantine-color-dark-3), var(--mantine-color-dark-0));
  display: flex;
  font-size: var(--mantine-font-size-md);
  font-weight: 500;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  width: 100%;

  transition: all linear 0.2s;

  &:hover {
    background-color: var(--mantine-color-gray-1);
    color: var(--mantine-color-dark-4);
  }
}

.linkInnerContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.linkLabel {
  line-height: 1;
  font-size: var(--mantine-font-size-md);
}

.linkIcon {
  height: var(--mantine-font-size-lg);
  width: var(--mantine-font-size-lg);
  margin-right: var(--mantine-spacing-xs);
  color: var(--mantine-color-dark-3);
}

.linkActiveContainer {
  background-color: var(--mantine-primary-color-filled);
  color: var(--mantine-color-white);

  .linkIcon {
    color: var(--mantine-color-white);
  }

  &:hover {
    background-color: var(--mantine-primary-color-filled-hover);
    color: var(--mantine-color-white);
  }
}

.badge {
  margin-left: auto;
  cursor: pointer;
}
