[Unit]
Description=Celery Flower Monitor
After=network.target

[Service]
User=username
Group=username
WorkingDirectory=/home/username/visualdynamics/apps/server
ExecStart=/home/username/miniconda3/envs/visualdynamics/bin/celery -A server.celery_tasks flower --persistent true
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target