.container {
  color: unset;
  display: flex;
  gap: var(--mantine-spacing-xs);
  text-decoration: none;
  user-select: none;
}

.logoImg {
  height: 48px;
  width: auto;
}

@media (max-width: 30rem) {
  .logoImg {
    height: 28px;
  }
}

.title {
  font-size: var(--mantine-font-size-xl);
}

.titleLarge {
  font-size: calc(var(--mantine-font-size-xl) * 2);
}
