.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100dvh - 99.19px - 38px - 35.09px - calc(var(--mantine-spacing-md) * 6) - var(--app-shell-header-offset) - calc(var(--app-shell-padding) * 2));
}

.logContainer {
  flex: 1;
  text-wrap: break-word;
}

.container_loading {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  justify-content: center;
  width: 100%;
}

.containerDownOrMaintenance {
  display: flex;
  flex-direction: column;
  flex: 1;

  gap: var(--mantine-spacing-sm);

  align-items: center;
  justify-content: center;
}

.container_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.not_running_container {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  justify-content: center;
}
