.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.logContainer {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}

.containerTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
