.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.autocompleteItemContainer {
  display: flex;
  flex-direction: column;
  gap: -var(--mantine-spacing-xs);
}

.sideBySideContainer {
  display: flex;
  flex-direction: row;
  gap: var(--mantine-spacing-xs);
}

.buttonContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--mantine-spacing-xs);
  margin-top: auto;
}
