@media only screen and (max-width:  480px) {
  .max-md {
		max-width: 100%;
  }
}

@media only screen and (min-width: 481px) {
  .max-md {
		max-width: 480px;
  }
}

a {
  text-decoration: none;
}

.gap-y-1 {
  row-gap: 4px;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}