{% extends 'base.html' %} 

{% block content %}
<div>
  <p class="h2 text-center my-2">{{ _("Modificar md_pr.mdp") }}</p>
  
  <form action="" method="post">
    <div class="my-2">
      <div class="form-floating">
        <input type="number" class="form-control" value="{{ nsteps }}" name="editnstep" step="100" id="editnstep">
        <label for="editnstep">NSteps</label>
      </div>
    </div>

    <div class="my-2">
      <div class="form-floating">
        <input type="number" class="form-control" value="{{ dt }}" name="editDt" step="0.001" id="editDt">
        <label for="editDt">dt(ps)</label>
      </div>
    </div>

    <button class="mt-2 mb-1 btn btn-primary w-100" type="submit" name="submit">
      <i class="fas fa-check" aria-hidden="true"></i> Confirmar
    </button>
    <a class="my-1 btn btn-danger w-100" href="{{ url_for('admin') }}">
      <i class="fas fa-times" aria-hidden="true"></i> Cancelar
    </a>
  </form>
</div>
{% endblock %}