{% extends 'base.html' %} 

{% block content %}


<form action="/admin/edit/{{ UserData.id }}" method="post" onsubmit="return validateForm()">
  <p class="h2 text-center my-2">{{ _("Modificando Usuário %(username)s", username=UserData.username) }}</p>

  <div class="alert alert-info my-2" role="alert">
    {{ _("Para manter a senha atual deixe os campos em branco") }}
  </div>

  <div class="form-floating my-2">
    <input type="text" class="form-control" name="name" id="name" value="{{ UserData.name }}">
    <label for="name">{{ _("Nome Completo") }}</label>
  </div>

  <div class="form-floating my-2">
    <input type="text" class="form-control" name="username" id="username" value="{{ UserData.username }}">
    <label for="username">{{ _("Nome de Usuário") }}</label>
  </div>

  <div class="form-floating my-2">
    <input type="email" class="form-control" name="email" id="email" value="{{ UserData.email }}">
    <label for="email">{{ _("Email") }}</label>
  </div>

  <div class="form-floating my-2">
    <input type="password" class="form-control" name="password" id="password" placeholder="******">
    <label for="password">{{ _("Senha") }}</label>
  </div>

  <div class="form-floating my-2">
    <input type="password" class="form-control" name="passwordconfirm" id="passwordconfirm" placeholder="******">
    <label for="passwordconfirm">{{ _("Confirmar Senha") }}</label>
  </div>
  
  <button class="mt-2 mb-1 btn btn-primary w-100" type="submit" name="submit">
    <i class="fas fa-check" aria-hidden="true"></i> {{ _("Confirmar") }}
  </button>
  <a class="my-1 btn btn-danger w-100" href="{{ url_for('admin') }}">
    <i class="fas fa-times" aria-hidden="true"></i> {{ _("Cancelar") }}
  </a>
</form>

<script>
  function validateForm() {
    //RE q valida email
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    name = document.forms[0][0].value;
    username = document.forms[0][1].value;
    email = document.forms[0][2].value;
    password = document.forms[0][3].value;
    passwordconfirm = document.forms[0][4].value;
    if (name === null || name === "") {
      alert("Nome Completo deve ser preenchido");
      return false;
    }
    if (username === null || username === "") {
      alert("Usuário deve ser preenchido");
      return false;
    }
    if (email === null || email === "") {
      alert("Email deve ser preenchido");
      return false;
    }        
    if (re.test(email) === false) {
      alert("Email inválido")
      return false
    }
    if (password !== passwordconfirm) {
      alert("As senhas digitadas são diferentes")
      return false
    }
  };
</script>
{% endblock %}