{% extends 'base.html' %}

{% block content %}

<p class="h2 text-center my-2">{{ _("Área do Administrador") }}</p>

<div class="text-center">
  <div class="btn-group my-2">
    <a href="/admin/cadastros" class="btn btn-success">
      <i class="fas fa-user-plus" aria-hidden="true"></i> {{ _('Solicitações de Cadastro') }}
    </a>
    <a href="/admin/newUser" class="btn btn-success">
      <i class="fas fa-user-plus" aria-hidden="true"></i> {{ _('Cadastrar Usuário') }}
    </a>
    <a href="/admin/current-dynamics" class="btn btn-info">
      <i class="fas fa-cogs" aria-hidden="true"></i> {{ _('Dinâmicas em Execução') }}
    </a>  
    <a href="/admin/edit-md" class="btn btn-warning">
      <i class="fas fa-pencil-alt" aria-hidden="true"></i> {{ _('Editar Arquivo md_pr') }}
    </a>
  </div>
</div>

<p class="h4 text-center my-2">{{ _("Usuários") }}</p>

{% for u in UserData %}
<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-1 my-auto">
        {{ _("ID") }}
        <p class="h5">{{ u.id }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Nome Completo") }}
        <p class="h5">{{ u.name }}</p>
      </div>
      <div class="col-2 my-auto">
        {{ _("Nome de Usuário") }}
        <p class="h5">{{ u.username }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Email") }}
        <p class="h5">{{ u.email }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Ações") }}
        <div class="btn-group mt-2">
          <a href="/admin/edit/{{ u.id }}" class="btn btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ _('Editar') }}</a>
          <a href="/admin/limpar/{{ u.id }}" class="btn btn-danger "><i class="fa fa-trash-o" aria-hidden="true"></i> {{ _('Excluir Dinâmicas') }}</a>
          {% if u.username != 'admin' %}  
          <a href="/admin/remove/{{ u.id }}" class="btn btn-danger "><i class="fa fa-trash-o" aria-hidden="true"></i> {{ _('Excluir') }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}