{% extends 'base.html' %}

{% block content %}
<p class="h2 text-center my-2">{{ _("Solicitações de Cadastro") }}</p>

{% if count > 0 %}
{% for u in NewUserData %}
<div class="card my-2">
  <div class="card-body">
    <div class="row">
      <div class="col-1 my-auto">
        {{ _("ID") }}
        <p class="h5">{{ u.id }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Nome Completo") }}
        <p class="h5">{{ u.name }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Nome de Usuário") }}
        <p class="h5">{{ u.username }}</p>
      </div>
      <div class="col my-auto">
        {{ _("Email") }}
        <p class="h5">{{ u.email }}</p>
      </div>
      <div class="col my-auto">
        <div class="btn-group mt-2 text-nowrap">
          <a
            href="/admin/accept_newUser/{{ u.id }}"
            class="btn btn-success"
          >
            <i
              class="fas fa-check"
              aria-hidden="true"
            ></i> Aprovar
          </a>
          <a
            href="/admin/remove_newUser/{{ u.id }}"
            class="btn btn-danger "
          >
            <i
              class="fas fa-times"
              aria-hidden="true"
            ></i> Negar
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div
  class="alert alert-info mt-2"
  role="alert"
>
  {{ _("Não há cadastro esperando aprovação") }}
</div>
{% endif %}
{% endblock %}