.pageLayout {
  height: auto !important;
  max-height: none !important;
  min-height: calc(100dvh - 60px - var(--mantine-spacing-md) * 2);

  @media (min-width: $mantine-breakpoint-xl) {
    height: calc(100dvh - 60px - var(--mantine-spacing-md) * 2) !important;
    max-height: calc(100dvh - 60px - var(--mantine-spacing-md) * 2) !important;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);
  min-height: auto;
  overflow: visible;

  @media (min-width: $mantine-breakpoint-xl) {
    flex: 1;
    gap: 0;
    min-height: 0;
    overflow: hidden;
  }
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-md);
  min-height: auto;
  overflow: visible;

  @media (min-width: $mantine-breakpoint-xl) {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
  }
}

.formColumn {
  min-width: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  min-height: auto;
  overflow: visible;

  @media (min-width: $mantine-breakpoint-xl) {
    min-height: 0;
    overflow: hidden;
  }
}

.formScrollArea {
  overflow: visible;
  min-height: auto;
  padding-bottom: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-xl) {
    flex: 1;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    min-height: 0;
    padding-right: var(--mantine-spacing-xs);
  }
}

.formButtons {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-md);
  padding-top: var(--mantine-spacing-md);
  border-top: 1px solid var(--mantine-color-default-border);

  @media (min-width: $mantine-breakpoint-xl) {
    grid-template-columns: 1fr 1fr;
  }
}

.formSubmitButton {
  grid-column: auto;

  @media (min-width: $mantine-breakpoint-xl) {
    grid-column: span 2;
  }
}

.viewerColumn {
  align-self: start;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-xl) {
    position: sticky;
    top: calc(var(--mantine-spacing-xl) * 2.5);
  }
}

.radioGroup {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-md);

  @media (min-width: $mantine-breakpoint-xl) {
    grid-template-columns: 1fr 1fr;
  }
}

.radioRoot {
  padding: var(--mantine-spacing-md);
  transition: border-color 150ms ease;
  padding: var(--mantine-spacing-md);

  &[data-checked] {
    border-color: var(--mantine-primary-color-filled);
  }

  @mixin hover {
    @mixin light {
      background-color: var(--mantine-color-gray-0);
    }

    @mixin dark {
      background-color: var(--mantine-color-dark-6);
    }
  }
}

.radioContent {
  display: flex;
  gap: var(--mantine-spacing-sm);
}

.fieldGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-xs);

  @media (min-width: $mantine-breakpoint-xl) {
    grid-template-columns: 1fr 1fr;
    gap: var(--mantine-spacing-md);
  }
}
