.tabsContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-width: 0;
}

.tabPanel {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-top: var(--mantine-spacing-md);
  gap: var(--mantine-spacing-md);
  min-width: 0;
}

@media (max-width: 48rem) {
  .tabPanel {
    padding-top: var(--mantine-spacing-sm);
    gap: var(--mantine-spacing-sm);
  }

  .jobIdTab {
    display: none;
  }
}
