{% extends 'base.html' %}

{% block content %}
<div>
  <p class="h2 mt-3 text-center">{{ _("Sobre o Visual Dynamics") }}</p>
  <p>
		{{ _("O Visual Dynamics é um projeto iniciado pelo Profº Dr. Fernando Berton Zanchi junto da Fundação Oswaldo Cruz de Rondônia...") }}
	</p>

	<p>
		{{ _("Desenvolvido por: ") }}
		<b>Dr. Fernando Berton Zanchi</b><br/>
		<b>Dr. Rafael Andrade Caceres</b><br/>
		<b>Eduardo Buganemi Botelho</b><br/>
		<b>Thales Junior de Souza Gomes</b><br/>
		<b>Bruno Lincon de Souza Bordin</b><br/>
		<b>Ivo Henrique Provensi Vieira</b><br/>
	</p>
</div>
{% endblock %}