{% extends 'base.html' %}

{% block content %}
<div class="d-flex">
    <a href="/admin/new" class="fa fa-plus btn btn-success btn-lg mb-2 ml-2"> Criar Novo Usuário</a>
    <a href="/admin/edit-md" class="fa fa-pencil-square-o btn btn-primary btn-lg mb-2 ml-auto mr-2"> Editar Arquivo md_pr</a>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Usuário</th>
        <th scope="col">E-mail</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for u in UserData %}
      <tr>
        <th scope="row">{{u.id}}</th>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td></td>
        <td><a href="/admin/edit/{{u.id}}" class="fa fa-pencil-square-o btn btn-outline-primary"> Editar</a></td>        
        <td>
        {% if u.username != 'admin' %}  
          <a href="/admin/remove/{{u.id}}" class="fa fa-trash-o btn btn-outline-danger "> Excluir</a>
        {% endif %}
      </td>
      </tr>
    {% endfor %}    
    </tbody>
  </table>

{% endblock %}