{% extends 'base_en.html' %}

{% block content %}
<style>
    h3{
        text-align: center;
    }
  </style>
  
<h3 class="mt-4">List of Registrations Requested</h3>
<table class="table table-striped mt-2">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Full name</th>
        <th scope="col">User</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for u in NewUserData %}
      <tr>
        <th scope="row">{{u.id}}</th>
        <td>{{u.name}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td></td>
        <td><a href="/admin/accept_newUser_en/{{u.id}}" class="btn btn-outline-primary"><i class="fa fa-check-square-o" aria-hidden="true"></i> Accept</a></td>        
        <td><a href="/admin/remove_newUser/{{u.id}}" class="btn btn-outline-danger "><i class="fa fa-times" aria-hidden="true"></i> Decline</a></td>
      </tr>
    {% endfor %}    
    </tbody>
  </table>

    <div class="align-items-center text-center mt-4">
        <a href="/admin_en" class="btn btn-primary btn mr-2 "><i class="fa fa-check" aria-hidden="true"></i> Finish</a>
    </div>

{% endblock %}