{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="alert alert-info mt-2" role="alert">
    {{ _("Para solicitar o cancelamento de uma dinâmica em andamento envie um email para ") }}<a class="alert-link" href="mailto://fernando.zanchi@fiocruz.br">fernando.zanchi@fiocruz.br</a>
  </div>
  {% with steps = get_flashed_messages(category_filter=["steps"]) %}
  {% if steps %}
  <div class="d-flex justify-content-center mx-auto">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <p class="h2 text-center">{{ _("Dinâmica em andamento") }}</p>
  <p class="h4 text-center">{{ _("Proteína %(protein)s", protein=name_dynamic) }}</p>
  {% if '#productionmd' in steplist %}
  <p class="h6 text-center">{{ date_finish }}</p>
  {% endif %}
  <script>
    setInterval(function() {
      document.location.reload(true)
    }, 10000);
  </script>
  <div class="progress" style="height: 30px">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="{{ progress }}">
      {{ progress.split(" ")[1] }}
    </div>
  </div>
  <p class="h6 my-2 text-center">
    {{ _("Etapa: ") }}
    {% if '#productionmd' in steplist %}
    {{ _("Produção MD") }}
    {% elif '#equilibrationnpt' in steplist %}
    {{ _("Restrição NPT") }}
    {% elif '#equilibrationnvt' in steplist %}
    {{ _("Restrição NVT") }}
    {% elif '#minimizationconjgrad' in steplist %}
    {{ _("Minimização Conjugate Gradient") }}
    {% elif '#minimizationsteepdesc' in steplist %}
    {{ _("Minimização Steep Descent") }}
    {% elif '#ions' in steplist %}
    {{ _("Adicionar Ions") }}
    {% elif '#solvate' in steplist %}
    {{ _("Definir caixa e solvatar") }}
    {% elif '#topology' in steplist %}
    {{ _("Definir Topologia") }}
    {% endif %}
  </p>
  {% else %}
  <form class="align-items-start" method="POST" action="/apo" onsubmit="return validateProcessing()" enctype="multipart/form-data">
    <div class="my-2">
      <label for="file" class="form-label">{{ _("Proteína Livre") }} (.pdb)</label>
      <input class="form-control" type="file" name="file" id="file" accept=".pdb" required>
    </div>
    
    <div class="my-2">
      <label for="campoforca" class="form-label">{{ _("Campo de Força") }}</label>
      <input class="form-control" list="datalistCampoForca" name="campoforca" id="campoforca" placeholder="{{ _('Procurar Campo de Força') }}">
      <datalist id="datalistCampoForca">
        <option value="amber03">AMBER03 protein, nucleic AMBER94</option>
        <option value="amber94">AMBER94 force field</option>
        <option value="amber96">AMBER96 protein, nucleic AMBER94</option>
        <option value="amber99">AMBER99 protein, nucleic AMBER94</option>
        <option value="amber99sb">AMBER99SB protein, nucleic AMBER94</option>
        <option value="amber99sb-ildn">AMBER99SB-ILDN protein, nucleic AMBER94</option>
        <option value="amberGS">AMBERGS force field</option>
        <option value="charmm27">CHARMM27 all-atom force field</option>
        <option value="gromos43a1">GROMOS96 43a1 force field</option>
        <option value="gromos43a2">GROMOS96 43a2 force field</option>
        <option value="gromos45a3">GROMOS96 45a3 force field</option>
        <option value="gromos53a5">GROMOS96 53a5 force field</option>
        <option value="gromos53a6" selected>GROMOS96 53a6 force field</option>
        <option value="gromos54a7">GROMOS96 54a7 force field</option>
        <option value="oplsaa">OPLS-AA/L all-atom force</option>
      </datalist>
    </div>
    
    <div class="my-2">
      <label for="modeloagua" class="form-label">{{ _("Modelo de Água") }}</label>
      <input class="form-control" list="datalistModeloAgua" name="modeloagua" id="modeloagua" placeholder="{{ _('Procurar Modelo de Água') }}">
      <datalist id="datalistModeloAgua">
        <option value="spc">SPC simple point charge ({{ _("Recomendado para GROMOS") }})</option>
        <option value="spce">SPC/E extended simple point charge</option>
        <option value="none">None</option>
        <option value="tip3p">TIP3P ({{ _("AMBER e OPLS apenas") }})</option>
        <option value="tip4p">TIP4P ({{ _("AMBER e OPLS apenas") }})</option>
        <option value="tip5p">TIP5P ({{ _("AMBER e OPLS apenas") }})</option>
      </datalist>
    </div>
    
    <div class="my-2">
      <label class="form-label" for="tipocaixa">{{ _("Tipo de Caixa") }}</label>
      <select class="form-select" name="tipocaixa" id="tipocaixa">
        <option selected value="cubic">Cubic</option>
        <option value="triclinic">Triclinic</option>
        <option value="dodecahedron">Dodecahedron</option>
        <option value="octahedron">Octahedron</option>
      </select>
    </div>
    
    <div class="my-2">
      <label class="form-label" for="tipocaixa">{{ _("Tipo de Caixa") }}</label>
      <div class="input-group">
        <span class="input-group-text" id="basic-addon1">
          <img src="{{ url_for('static', filename='svg/angstrom.svg') }}" width="13">
        </span>
        <input type="number" class="form-control" name="distanciacaixa" min="0" step="0.1" id="distanciacaixa">
      </div>
    </div>
    
    <div class="my-2">
      <label class="form-label" for="ns">{{ _("Tempo de Simulação") }} (ns)</label>
      <div class="input-group">
        <input class="form-control" type="number" value="2" disabled="disabled">
      </div>
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" name="neutralize" id="neutralize">
      <label class="form-check-label" for="neutralize">{{ _("Neutralizar o Sistema") }}</label>
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" checked="checked" disabled="disabled" id="double">
      <label class="form-check-label" for="double">{{ _("Calcular em Dupla precisão") }}</label>
      <input type="hidden" name="double" value="True">
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" name="ignore" id="ignore">
      <label class="form-check-label" for="ignore">{{ _("Ignorar Hidrogênios") }}</label>
    </div>
    
    <div class="d-block">
      <button class="mt-2 mb-1 btn btn-primary w-100" value="Executar" name="execute" onclick="setTimeout(function(){ window.location.reload(true) }, 1000);">
        <i class="fa fa-cogs" aria-hidden="true"></i> {{ _("Executar") }}
      </button>
      <button class="my-1 btn btn-success w-100" value="Download" name="download">
        <i class="fa fa-file-download" aria-hidden="true"></i> {{ _("Baixar Lista de Comandos") }}
      </button>
    </div>
  </form>
  {% endif %}
  {% endwith %}
</div>

<script>
  function validateProcessing() {
    var filename = document.querySelector('#file').value;
    var distance = document.querySelector('#distanciacaixa').value;
    if (filename === "" || filename == null) {
      alert('Deve ser selecionado um arquivo (.pdb)');
      return false
    }
    if (distance === "" || distance == null) {
      alert('Deve ser selecionada a distancia');
      return false
    }
  };
</script>
{% endblock %}