{% extends 'base.html' %}


{% block content %}
<div>
  <p class="h2 text-center">{{ _("Proteína APO") }}</p>
  <p class="text-center">
    {{ _('Não sabe com que molécula testar? Tente com a ') }}
    <a href="https://www.rcsb.org/structure/2mu8">2mu8</a>.
  </p>
  <form
    class="align-items-start max-md mx-auto"
    method="POST"
    action="/apo"
    onsubmit="return validateProcessing(this)"
    enctype="multipart/form-data"
  >
    <!-- {% include 'components/ngl.html' %} -->
    <div class="my-2">
      <label
        class="form-label"
        for="file"
      >{{ _("Proteína Livre") }} (.pdb)</label>
      <input
        class="form-control form-control-lg"
        type="file"
        name="file"
        id="file"
        accept=".pdb"
      >
    </div>

    <div class="my-2">
      <div class="form-floating">
        <select
          class="form-select"
          id="campoforca"
          name="campoforca"
        >
          <option value="amber03">AMBER03 protein, nucleic AMBER94</option>
          <option value="amber94">AMBER94 force field</option>
          <option value="amber96">AMBER96 protein, nucleic AMBER94</option>
          <option value="amber99">AMBER99 protein, nucleic AMBER94</option>
          <option value="amber99sb">AMBER99SB protein, nucleic AMBER94</option>
          <option value="amber99sb-ildn">AMBER99SB-ILDN protein, nucleic AMBER94</option>
          <option value="amberGS">AMBERGS force field</option>
          <option value="charmm27">CHARMM27 all-atom force field</option>
          <option value="gromos43a1">GROMOS96 43a1 force field</option>
          <option value="gromos43a2">GROMOS96 43a2 force field</option>
          <option value="gromos45a3">GROMOS96 45a3 force field</option>
          <option value="gromos53a5">GROMOS96 53a5 force field</option>
          <option
            value="gromos53a6"
            selected
          >GROMOS96 53a6 force field</option>
          <option value="gromos54a7">GROMOS96 54a7 force field</option>
          <option value="oplsaa">OPLS-AA/L all-atom force</option>
        </select>
        <label for="campoforca">{{ _("Campo de Força") }}</label>
      </div>
    </div>

    <div class="my-2">
      <div class="form-floating">
        <select
          class="form-select"
          id="modeloagua"
          name="modeloagua"
        >
          <option
            value="spc"
            selected
          >SPC simple point charge ({{ _("Recomendado para GROMOS") }})</option>
          <option value="spce">SPC/E extended simple point charge</option>
          <option value="none">None</option>
          <option value="tip3p">TIP3P ({{ _("AMBER e OPLS apenas") }})</option>
          <option value="tip4p">TIP4P ({{ _("AMBER e OPLS apenas") }})</option>
          <option value="tip5p">TIP5P ({{ _("AMBER e OPLS apenas") }})</option>
        </select>
        <label for="modeloagua">{{ _("Modelo de Água") }}</label>
      </div>
    </div>

    <div class="my-2">
      <div class="form-floating">
        <select
          class="form-select"
          name="tipocaixa"
          id="tipocaixa"
        >
          <option
            value="cubic"
            selected
          >Cubic</option>
          <option value="triclinic">Triclinic</option>
          <option value="dodecahedron">Dodecahedron</option>
          <option value="octahedron">Octahedron</option>
        </select>
        <label
          class="form-label"
          for="tipocaixa"
        >{{ _("Tipo de Caixa") }}</label>
      </div>
    </div>

    <div class="my-2">
      <div class="form-floating">
        <input
          type="number"
          class="form-control"
          value="0"
          name="distanciacaixa"
          min="0"
          step="0.1"
          id="distanciacaixa"
        >
        <label for="distanciacaixa">{{ _("Distância entre a proteína e a borda da caixa (nm)") }}</label>
      </div>
    </div>

    <div class="my-2">
      <div class="form-floating">
        <input
          class="form-control"
          type="number"
          value="2"
          disabled="disabled"
        >
        <label for="ns">{{ _("Tempo de Simulação") }} (ns)</label>
      </div>
    </div>

    <div class="form-check my-1">
      <input
        class="form-check-input"
        type="checkbox"
        disabled
        checked
        id="neutralize"
      >
      <label
        class="form-check-label"
        for="neutralize"
      >{{ _("Neutralizar o Sistema") }}</label>
      <input
        type="hidden"
        name="neutralize"
        value="True"
      >
    </div>

    <div class="form-check my-1">
      <input
        class="form-check-input"
        type="checkbox"
        disabled
        value="False"
        id="double"
      >
      <label
        class="form-check-label"
        for="double"
      >{{ _("Calcular em dupla precisão") }}</label>
      <input
        type="hidden"
        name="double"
        value="False"
      >
    </div>

    <div class="form-check my-1">
      <input
        class="form-check-input"
        disabled
        checked
        type="checkbox"
        id="ignore"
      >
      <label
        class="form-check-label"
        for="ignore"
      >{{ _("Ignorar Hidrogênios") }}</label>
      <input
        type="hidden"
        name="ignore"
        value="True"
      >
    </div>

    <div class="row">
      <button
        class="my-2 btn btn-primary"
        value="Executar"
        name="execute"
      >
        <i
          class="fa fa-cogs"
          aria-hidden="true"
        ></i> {{ _("Executar") }}
      </button>
      <div class="d-flex justify-content-between">
        <button
          class="my-2 btn btn-success"
          value="Download"
          name="download"
        >
          <i
            class="fa fa-file-download"
            aria-hidden="true"
          ></i> {{ _("Baixar Lista de Comandos") }}
        </button>
        <a
          name="dlmdp"
          class="my-2 btn btn-primary"
          href="{{ url_for('DownloadRoutes.downloadmdpfiles') }}"
        >
          <i
            class="fas fa-download"
            aria-hidden="true"
          ></i> {{ _("Baixar arquivos MDP") }}
        </a>
      </div>
    </div>
  </form>
</div>

<script>
  function validateProcessing() {
    var file = document.getElementById('file');
    var distance = document.getElementById('distanciacaixa');

    if (file.value === "" || file.value == null) {
      alert('{{ _("Você deve fornecer um arquivo de proteína (.pdb)") }}');
      file.focus()
      return false
    }
    if (distance.value <= 0) {
      alert('{{ _("A distância entre a proteína e a borda da caixa deve ser maior que 0") }}');
      distance.focus()
      return false
    }

    var execButton = document.getElementsByName('execute')[0]
    var dlButton = document.getElementsByName('download')[0]
    var dlmdpButton = document.getElementsByName('dlmdp')[0]
    execButton.className += " disabled"
    dlButton.className += " disabled"
    dlmdpButton.className += " disabled"

    setTimeout(() => {
      window.location.reload()
    }, 1500)
    return true
  };
</script>
{% endblock %}