{% extends 'base.html' %}

{% block content %}
<div>
  <div class="alert alert-info mt-2" role="alert">
    {{ _("Para solicitar o cancelamento de uma dinâmica em andamento envie um email para ") }}<a class="alert-link" href="mailto://fernando.zanchi@fiocruz.br">fernando.zanchi@fiocruz.br</a>
  </div>

  <p class="h2 text-center">{{ _("Enzima APO") }}</p>

  {% with steps = get_flashed_messages(category_filter=["steps"]) %}
  {% if steps %}
  <div class="d-flex justify-content-center mx-auto">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  <p class="h2 text-center">{{ _("Dinâmica em andamento") }}</p>
  <p class="h4 text-center">{{ _("Proteína %(protein)s", protein=name_dynamic) }}</p>
  {% if '#productionmd' in steplist %}
  <p class="h6 text-center">{{ date_finish }}</p>
  {% endif %}
  <script>
    setInterval(function() {
      document.location.reload(true)
    }, 10000);
  </script>
  <h6 class="d-flex flex-wrap justify-content-between">
    <span class="my-1 badge rounded-pill {{'bg-success' if '#topology' in steplist else 'bg-secondary'}}">{{ _("Definir Topologia") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#solvate' in steplist else 'bg-secondary'}}">{{ _("Definir caixa e solvatar") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#ions' in steplist else 'bg-secondary'}}">{{ _("Adicionar Ions") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#minimizationsteepdesc' in steplist else 'bg-secondary'}}">{{ _("Minimização Steep Descent") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#minimizationconjgrad' in steplist else 'bg-secondary'}}">{{ _("Minimização Conjugate Gradient") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#equilibrationnvt' in steplist else 'bg-secondary'}}">{{ _("Restrição NVT") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#equilibrationnpt' in steplist else 'bg-secondary'}}">{{ _("Restrição NPT") }}</span>
    <span class="text-sm">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
      </svg>
    </span>
    <span class="my-1 badge rounded-pill {{'bg-success' if '#productionmd' in steplist else 'bg-secondary'}}">{{ _("Produção MD") }}</span>
  </h6>
  {% else %}
  <form class="align-items-start max-md mx-auto" method="POST" action="/apo" onsubmit="return validateProcessing()" enctype="multipart/form-data">
    <div class="my-2">
      <label class="form-label" for="file">{{ _("Proteína Livre") }} (.pdb)</label>
      <input class="form-control form-control-lg" type="file" name="file" id="file" accept=".pdb" required>
    </div>
    
    <div class="my-2">
      <div class="form-floating">
        <select class="form-select" id="campoforca" name="campoforca">
          <option value="amber03">AMBER03 protein, nucleic AMBER94</option>
          <option value="amber94">AMBER94 force field</option>
          <option value="amber96">AMBER96 protein, nucleic AMBER94</option>
          <option value="amber99">AMBER99 protein, nucleic AMBER94</option>
          <option value="amber99sb">AMBER99SB protein, nucleic AMBER94</option>
          <option value="amber99sb-ildn">AMBER99SB-ILDN protein, nucleic AMBER94</option>
          <option value="amberGS">AMBERGS force field</option>
          <option value="charmm27">CHARMM27 all-atom force field</option>
          <option value="gromos43a1">GROMOS96 43a1 force field</option>
          <option value="gromos43a2">GROMOS96 43a2 force field</option>
          <option value="gromos45a3">GROMOS96 45a3 force field</option>
          <option value="gromos53a5">GROMOS96 53a5 force field</option>
          <option value="gromos53a6" selected>GROMOS96 53a6 force field</option>
          <option value="gromos54a7">GROMOS96 54a7 force field</option>
          <option value="oplsaa">OPLS-AA/L all-atom force</option>
        </select>
        <label for="campoforca">{{ _("Campo de Força") }}</label>
      </div>
    </div>
    
    <div class="my-2">
      <div class="form-floating">
        <select class="form-select" id="modeloagua" name="modeloagua">
          <option value="spc" selected>SPC simple point charge ({{ _("Recomendado para GROMOS") }})</option>
          <option value="spce">SPC/E extended simple point charge</option>
          <option value="none">None</option>
          <option value="tip3p">TIP3P ({{ _("AMBER e OPLS apenas") }})</option>
          <option value="tip4p">TIP4P ({{ _("AMBER e OPLS apenas") }})</option>
          <option value="tip5p">TIP5P ({{ _("AMBER e OPLS apenas") }})</option>
        </select>
        <label for="modeloagua">{{ _("Modelo de Água") }}</label>
      </div>
    </div>
    
    <div class="my-2">
      <div class="form-floating">
        <select class="form-select" name="tipocaixa" id="tipocaixa">
          <option value="cubic" selected>Cubic</option>
          <option value="triclinic">Triclinic</option>
          <option value="dodecahedron">Dodecahedron</option>
          <option value="octahedron">Octahedron</option>
        </select>
        <label class="form-label" for="tipocaixa">{{ _("Tipo de Caixa") }}</label>
      </div>
    </div>
    
    <div class="my-2">
      <div class="form-floating">
        <input type="number" class="form-control" value="0" name="distanciacaixa" min="0" step="0.1" id="distanciacaixa">
        <label for="distanciacaixa">{{ _("Distância entre a proteína e a borda da caixa") }}</label>
      </div>
    </div>
    
    <div class="my-2">
      <div class="form-floating">
        <input class="form-control" type="number" value="2" disabled="disabled">
        <label for="ns">{{ _("Tempo de Simulação") }} (ns)</label>
      </div>
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" name="neutralize" id="neutralize">
      <label class="form-check-label" for="neutralize">{{ _("Neutralizar o Sistema") }}</label>
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" checked="checked" disabled="disabled" id="double">
      <label class="form-check-label" for="double">{{ _("Calcular em dupla precisão") }}</label>
      <input type="hidden" name="double" value="True">
    </div>
    
    <div class="form-check my-1">
      <input class="form-check-input" type="checkbox" name="ignore" id="ignore">
      <label class="form-check-label" for="ignore">{{ _("Ignorar Hidrogênios") }}</label>
    </div>
    
    <div class="d-flex justify-content-between">
      <button class="my-2 btn btn-primary" value="Executar" name="execute" onclick="setTimeout(function(){ window.location.reload(true) }, 1000);">
        <i class="fa fa-cogs" aria-hidden="true"></i> {{ _("Executar") }}
      </button>
      <button class="my-2 btn btn-success" value="Download" name="download">
        <i class="fa fa-file-download" aria-hidden="true"></i> {{ _("Baixar Lista de Comandos") }}
      </button>
    </div>
  </form>
  {% endif %}
  {% endwith %}
</div>

<script>
  function validateProcessing() {
    var filename = document.querySelector('#file').value;
    var distance = document.querySelector('#distanciacaixa').value;
    if (filename === "" || filename == null) {
      alert('Deve ser selecionado um arquivo (.pdb)');
      return false
    }
    if (distance === "" || distance == null) {
      alert('Deve ser selecionada a distancia');
      return false
    }
  };
</script>
{% endblock %}