<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Visual Dynamics</title>
    </head>

    <body>
        <nav class="navbar navbar-light bg-primary">
            <img src="/static/img/fiocruzro.png" class="col-md-2 col-sm-3 ml-5">
            <h4 class="text-white p-1 col-md-5 col-sm-4 text-center">Dinâmica Molecular com o Gromacs</h4>
            <img src="/static/img/labioquim.png" class="col-md-2 col sm-3 mr-5">
        </nav>
        
        <nav class="container-fluid jumbotron pt-1 pb-0 pl-0 mb-2">
            <nav class="container">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link text-dark border-right {{ actindex }}" id="index" data-toggle="tab" href="{{ url_for('index') }}" role="tab" aria-controls="index" aria-selected="true">Painel do Usuário</a>
                        <a class="nav-item nav-link text-dark border-right {{ actlivre }}" id="livre-tab" data-toggle="tab" href="{{ url_for('livre') }}" role="tab" aria-controls="livre" aria-selected="false">APO Enzima</a>
                        <a class="nav-item nav-link text-dark border-right {{ actlig }}" id="ligante-tab" data-toggle="tab" href="{{ url_for('ligante') }}" role="tab" aria-controls="ligante" aria-selected="false">Enzima + Ligante (PRODRG)</a>
                        <!--<a class="nav-item nav-link text-dark border-right {{ actligATB }}" id="ligante-tab-ATB" data-toggle="tab" href="{{ url_for('liganteATB') }}" role="tab" aria-controls="liganteATB" aria-selected="false">Enzima + Ligante (ATB - Em Desenvolvimento)</a>-->
                        {% if current_user.username == 'admin' %}
                            <a class="nav-item nav-link text-dark  {{ actadmin }}" id="Admin-tab" data-toggle="tab" href="{{ url_for('admin') }}" role="tab" aria-controls="admin" aria-selected="false">Painel Admin</a>
                        {% endif %}
                        <a class="nav-item nav-link text-danger border border-danger mb-auto ml-auto {{ actlogout }} {{'invisible' if not current_user.username else ''}}" id="logout-tab" data-toggle="tab" href="{{ url_for('logout') }}" role="tab" aria-control="logout" aria-selected="false" >
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sair</a>
                </div>
            </nav>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %} 
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="alert alert-{{category}} mr-4" style="list-style:none" role="alert">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %} 
        {% endwith %} 

        {% block content %}
        {% endblock %}
        
        <div class="text-muted text-center py-3 mt-5">
            <p class="m-0 small">Desenvolvido por:</p>
            <p class="m-0 small">Eduardo Buganemi Botelho</p>
            <p class="m-0 small">Dr. Fernando Berton Zanchi</p>
            <p class="m-0 small">Dr. Rafael Andrade Caceres</p>
            <p class="m-0 small">Thales Junior de Souza Gomes</p>
            <br>
            <p class="m-0 small">Copyright © LABIOQUIM - FIOCRUZ RONDÔNIA</p>
        </div>

    </body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132011439-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-132011439-1');
    </script>
</html>