{% extends 'base_en.html' %}

{% block content %}
<style>
  h3{
      text-align: center;
  }
</style>

<h3 class="mt-4">List of Running Dynamics</h3>
<table class="table table-striped mt-2">
    <thead>
      <th></th>
      <th scope="col">User</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th scope="col">Dynamic</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th scope="col">Date of the conclusion</th>
      <th></th>
    </thead>
    <tbody>
      {% for u in currentDynamics %}
      <tr>
        <td></td>
        <td>{{u.username}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{u.name_dynamic}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{u.date_finish}}</td>
        <td></td>
      </tr> 
      {% endfor %}   
    </tbody>
  </table>
{% endblock %}