{% extends 'base.html' %} 

{% block content %}
<div class="container align-items-center mt-4">
        <form class="align-items-center text-center" action="" method="post">
            <h4>Editar arquivo (md_pr.mdp)</h4>
            <div class="form-group mr-2">
                <label class="form-control-label" for="edit"> Valor do nsteps: </label> 
                <input type="number" name="editnstep" step="100" id = "editnstep" class="form-control-label text-center mt-3" value="{{ nsteps }}">
            </div>
            <div class="form-group ml-4">
                <label class="form-control-label" for="edit"> Valor do dt(ps): </label> 
                <input type="number" name="editDt" step="0.001" id = "editDt" class="form-control-label text-center mt-3" value="{{ dt }}">
            </div>
                <button class="m-2 btn btn-primary" type="submit" name="submit"><i class="fa fa-check" aria-hidden="true"></i> Salvar</button>
                <a class="m-2 btn btn-danger" href="{{ url_for('admin') }}"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
        </form>
</div>


{% endblock %}