{% extends 'base.html' %}

{% block content %}
<style>
  h3{
      text-align: center;
  }
</style>

<h3>Lista de Dinâmicas Realizadas</h3>
<table class="table table-striped">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for u in list_dynamics %}
      <tr>
        <th scope="row">{{u}}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-outline-success" id="downloadcomands" href="/dynamiccomandsdownload/{{u}}"aria-controls="download"><i class="fas fa-file-download " aria-hidden="true"></i> Baixar Lista de Comandos</a></td>
        <td><a class="btn btn-outline-primary" id="downloadgraphics" href="/imgfiles/{{u}}" aria-controls="livre"><i class="fas fa-file-archive" aria-hidden="true"></i> Baixar Gráficos de Análise</a></td>
        <td><a class="btn btn-outline-primary" id="downloadmdpfiles" href="{{ url_for('downloadmdpfiles') }}"aria-controls="livre-mdp"><i class="fas fa-file-archive" aria-hidden="true"></i> Baixar mdpfiles</a></td>
      </tr>
    {% endfor %}    
    </tbody>
  </table>
{% endblock %}