{% extends 'base.html' %}

{% block content %}
<div>
  <p class="h2 mt-3 text-center">{{ _("Minhas Dinâmicas") }}</p>
  {% if no_dynamics == 'True' %}
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title my-auto">{{ _("Não há dinâmicas para serem exibidas") }}</h5>
        {{ _("Você ainda não tem dinâmicas. Utilize o menu acima para começar uma!") }}
      </div>
    </div>
  {% else %}
  <a class="btn btn-primary" href="{{ url_for('DownloadRoutes.downloadmdpfiles') }}">
    <i class="fas fa-download" aria-hidden="true"></i>  {{ _("Baixar arquivos MDP") }}
  </a>
  {% for d in list_dynamics %}
    <div class="card my-2">
      <div class="card-body d-flex">
        <div>
          <h5 class="card-title my-auto">{{ _("Proteína %(protein)s", protein=d['protein']) }}</h5>
          <h6>{{ d['date'] }}</h6>
        </div>
        <div class="dropdown ms-auto my-auto">
          <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-download" aria-hidden="true"></i> {{ _("Baixar") }}
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/dynamiccomandsdownload/{{ d['original'] }}">{{ _("Lista de Comandos") }}</a></li>
            <li><a class="dropdown-item" href="/imgfiles/{{ d['original'] }}">{{ _("Gráficos de Análise") }}</a></li>
            <li><a class="dropdown-item" href="/downloadlogs/{{ d['original'] }}">{{ _("Logs de Execução") }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}