{% extends 'base_en.html' %}

{% block content %}
<style>
  h3{
      text-align: center;
  }
</style>

<h3 class="mt-4">List of Performed Dynamics</h3>
<table class="table table-striped mt-2">
    <thead>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
    {% for u in list_dynamics %}
      <tr>
        <th scope="row">{{u}}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="btn btn-outline-success" id="downloadcomands" href="/dynamiccomandsdownload/{{u}}"aria-controls="download"><i class="fa fa-file" aria-hidden="true"></i> Download Command List</a></td>
        <td><a class="btn btn-outline-success" id="downloadgraphics" href="/imgfiles/{{u}}" aria-controls="livre"><i class="fa fa-line-chart" aria-hidden="true"></i> Download Analysis Charts</a></td>
        <td><a class="btn btn-outline-primary" id="downloadlog" href="/downloadlogs/{{u}}"aria-controls="livre-log"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Download Logs</a></td>
        <td><a class="btn btn-outline-primary" id="downloadmdpfiles" href="{{ url_for('downloadmdpfiles') }}"aria-controls="livre-mdp"><i class="fa fa-file-archive-o" aria-hidden="true"></i> Download mdpfiles</a></td>
      </tr>
    {% endfor %}    
    </tbody>
  </table>
{% endblock %}