{% extends 'base.html' %}

{% block content %}
<script>
	document.title = "{{ _('Minhas Dinâmicas') }} - Visual Dynamics"
</script>
<div>
  <p class="h2 mt-3 text-center">{{ _("Minhas Dinâmicas") }}</p>
  <a class="btn btn-primary" href="{{ url_for('DownloadRoutes.downloadmdpfiles') }}">
    <i class="fas fa-download" aria-hidden="true"></i> {{ _("Baixar arquivos MDP") }}
  </a>
  {% if no_dynamics == 'True' %}
    <div class="card my-2">
      <div class="card-body">
        <h5 class="card-title my-auto">{{ _("Não há dinâmicas para serem exibidas") }}</h5>
        {{ _("Você ainda não tem dinâmicas. Utilize o menu acima para começar uma!") }}
      </div>
    </div>
  {% else %}
  {% for d in list_dynamics %}
    {% if d['is_canceled'] %}
    <div class="card my-2 border-secondary">
    {% elif 'success' in d['status'] %}
    <div class="card my-2 border-success">
    {% elif 'running' in d['status'] %}
    <div class="card my-2 border-primary">
    {% else %}
    <div class="card my-2 border-danger">
    {% endif %}
      <div class="card-body">
        <div>
          <h6 class="text-uppercase">{{ d['mode'] }}</h6>
          <h5 class="card-title -mt-3">{{ _("%(protein)s @ %(date)s", protein=d['protein'], date=d['date']) }}</h5>
        </div>
        
        <h6 class="text-uppercase mt-2">
          <i class="fas fa-download" aria-hidden="true"></i> {{ _("Downloads") }}
        </h6>
        <div class="d-flex flex-wrap gap-2">
          <a class="btn btn-primary" href="/downloads/commands/{{ d['mode'] }}/{{ d['protein'] }}/{{ d['folder'] }}">
            {{ _("Lista de Comandos") }}
          </a>
          <a class="btn btn-primary {{ 'disabled' if d['is_running'] }}" href="/downloads/xtc/{{ d['mode'] }}/{{ d['protein'] }}/{{ d['folder'] }}">
            {{ _("Arquivo .xtc") }}
          </a>
          <a class="btn btn-primary {{ 'disabled' if d['is_running'] }}" href="/downloads/graphics/{{ d['mode'] }}/{{ d['protein'] }}/{{ d['folder'] }}">
            {{ _("Gráficos de Análise") }}
          </a>
          <a class="btn btn-primary" href="/downloads/logs/{{ d['mode'] }}/{{ d['protein'] }}/{{ d['folder'] }}">
            {{ _("Logs de Execução") }}
          </a>
          {% if not d['is_canceled'] and d['is_running'] %}
          <form method="POST" action="/cancel/{{ d['mode'] }}/{{ d['protein'] }}/{{ d['folder'] }}">
            <button class="btn btn-danger">
              {{ _("Cancelar Dinâmica") }}
            </button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
  {% endif %}
</div>
{% endblock %}