<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link  rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Visual Dynamics</title>
    </head>
    <body>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login-title">
                    <h1>Visual Dynamics</h1>
                    <h2>Dinâmica Molecular com o Gromacs</h2>
                    <div class="wrap-login100">
                        <div class="login100-pic js-tilt" data-tilt>
                            <img src="/static/img/fiocruzro.png" class="col-md-2 col-sm-3 ml-5">
                            <img src="/static/img/labioquim.png" class="col-md-4 col sm-6 mr-5">
                        </div>
                        <div>
                            <form class="login100-form validate-form" action="/login" method="post" onsubmit="return validateForm()">
                                <span class="login100-form-title">LOGIN</span>
                                <!--\\\\\\\\\\\\\\Flash para mostrar erros no login////////////////////-->
                                {% with messages = get_flashed_messages(with_categories=true) %} 
                                    {% if messages %}
                                        <ul class=flashes>
                                            {% for category, message in messages %}
                                                <li class="alert alert-{{category}} mr-0" style="list-style:none" role="alert">{{ message }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %} 
                                {% endwith %}
                                <!--\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
                                <div class="wrap-input100 validate-input">
                                    <input class="input100" type="text" name="username" id="username" placeholder="Usuário ou E-mail">
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                    </span>
                                </div>
            
                                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                                    <input class="input100" type="password" name="password" id="password" placeholder="Senha">
                                    <span class="focus-input100"></span>
                                    <span class="symbol-input100">
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </span>
                                </div>
                        
                                <button class="btn btn-primary btn-lg mt-1"><i class="fa fa-sign-in" aria-hidden="true" ></i> Entrar</button>  
                             <a href="/cadastro" class="btn btn-success mt-2"><i class="fa fa-sign-in" aria-hidden="true" ></i> Solicitar Cadastro</a>
                            </form> 
                        </div>
                    </div>                        
                    
                    <div class="rodape-dev text-muted">
                        <h4 class="m-0 small">Desenvolvido por:</h4>
                        <h4 class="m-0 small mt-1">Eduardo Buganemi Botelho</h4>
                        <h4 class="m-0 small mt-1">Dr. Fernando Berton Zanchi</h4>
                        <h4 class="m-0 small mt-1">Dr. Rafael Andrade Caceres</h4>
                        <h4 class="m-0 small mt-1">Thales Junior de Souza Gomes</h4>
                        <h6 class="mt-2"> Esqueceu sua senha? Envie um e-mail para: <ins><strong>fernando.zanchi@fiocruz.br</strong></ins> solicitando atualização.</h6>
                        <br>
                        <h4 class="mb-1 small">Copyright © LABIOQUIM - FIOCRUZ RONDÔNIA</h4>
                    </div>
                </div>
 
                <script>
                    function validateForm() {
                        username = document.forms[0][0].value;
                        password = document.forms[0][1].value;
                        if (username==null || username=="") {
                            alert("Usuário deve ser preenchido");
                            return false;
                            }
                        if (password==null || password=="") {
                            alert("Senha deve ser preenchida");
                            return false;
                            }
                    };
                </script>
            </div>
        </div>  
    </body>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132011439-1"></script>
      <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
  
          gtag('config', 'UA-132011439-1');
      </script>
</html>