{% extends 'base.html' %} 

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-start">
        
        <form class="align-items-center text-center" action="/admin/new" method="post" onsubmit="return validateForm()">
            <p><strong>Cadastrar Usuário</strong></p>
            <label for="username" class="form-control-label text-center mt-3">Nome do Usuário</label>
            <input class="form-control" name='username' id='username' type="input" aria-describedby="emailHelp" placeholder="Ex: davi12">
            <label for="username" class="form-control-label text-center mt-3">Email</label>
            <input class="form-control" name='email' id='username' type="input" aria-describedby="emailHelp" placeholder="Ex: davi12@hotmail.com">
            <label for="password" class="form-control-label mt-3">Senha</label>
            <input class="form-control" name="password" id="password" type="password" placeholder="Senha">
            <label for="password" class="form-control-label mt-3">Confirmar Senha</label>
            <input class="form-control" name="passwordconfirm" id="password" type="password" placeholder="Senha">
            <input class="m-2 btn-ln btn-primary" type="submit" value="Criar Usuário" name="submit">
        </form>
    </div>
</div>

<script>
    function validateForm() {
        //RE q valida email
        var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        user = document.forms[0][0].value;
        email = document.forms[0][1].value;
        password = document.forms[0][2].value;
        passwordconfirm = document.forms[0][3].value;
        if (user==null || user=="") {
            alert("Nome de usuário deve ser preenchido");
            return false;
            }
        if (email==null || email=="") {
            alert("Email deve ser preenchido");
            return false;
            }
        if (password==null || password=="") {
            alert("Senha deve ser preenchida");
            return false;
            }
        if (re.test(email) == false) {
            alert("Email inválido")
            return false
        }
        if (password != passwordconfirm) {
            alert("As senhas digitadas são diferentes")
            return false
        }
    };
</script>
{% endblock %}