/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: unset;
}

*::-webkit-scrollbar-track {
    background: unset;
    border: unset;
}

aside::-webkit-scrollbar-track {
    margin: unset;
}

*::-webkit-scrollbar-thumb {
    background: unset;
    border: unset;
}

html,
body {
    font-family: "Inter", sans-serif;
    white-space: pre-line;
}

